RewriteEngine On

RewriteRule ^(.*)favicon\.(ico|gif|png|jpe?g)$ http://www.google.com/images/favicon.ico [R=310,L,NC]

RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REQUEST_FILENAME) !-d
RewriteRule ^ index.php [QSA,L]